<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Password Manager</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Password Manager</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not request.session.logged_in %}

                {% else %}

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add_new_password">Add New Password</a>
              </li>
              {% endif %}
              
            </ul>
            
                {% if not request.session.logged_in %}

              <a href="/login" class="btn btn-outline-success">Login</a>
              <a href="/signup" class="btn btn-outline-success" >SignUp</a>

              {% else %}
                <h4>Welcome, {{ request.session.name }}</h4>
                &nbsp;&nbsp;
                <a href="/logout" class="btn btn-outline-success">Logout</a>
                {% endif %}
            
          </div>
        </div>
      </nav>
   
    {% block body %}
        <!-- Content for authenticated users -->
    {% endblock body %}
</body>
</html>